name: build-kalman
on:
  push:
    branches:
      - master
      - bc/test-ci
    tags: ['*']
  pull_request:
  workflow_dispatch:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  compile:
    name: Run Juliac
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    steps:
        - uses: actions/checkout@v4
      
        - name: Checkout tools repo
          uses: actions/checkout@v4
          with:
            repository: baggepinnen/LowLevelParticleFilters.jl
            ref: juliac
            path: dev/lowlevelparticlefilters
        - uses: julia-actions/setup-julia@v2
          with:
            version: nightly
            arch: aarch64
        - uses: julia-actions/cache@v2
        - run: julia -e 'import Pkg; Pkg.develop(path="dev/lowlevelparticlefilters")'